<table id="tableMaterials" class="" style="width:100%">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Quantité</th>
			<th>crée le</th>
			<th>HT</th>
			<th>TTC</th>
			<th>TVA</th>
			<th>décrémenter</th>
			<th>détail</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

{% block javascripts %}
	<script defer type="module" src="{{ asset("scripts/materialTable.js") }}"></script>
{% endblock %}
