@import url("./reset.css");
@import url("./table.css");
@import url("./modal.css");
@import url("./form.css");
@import url("./alert.css");

@font-face {
  font-family: "Eudoxus";
  src: url("./fonts/eudoxus/EudoxusSansGX.ttf");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-eudoxus: "Eudoxus", sans-serif;
  --primary: #f9ffff;
  --secondary: #eccca3;
  --button-color: #332f2d;
  --error: #c8493a;
}

body {
  background-color: var(--primary);
}

p,
label,
td,
button,
div,
h1,
span {
  font-family: var(--font-eudoxus);
  color: var(--button-color);
}

strong {
  font-weight: 800;
}

main {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100dvh;
}

h1 {
  margin-top: 64px;
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

dialog {
  background-color: transparent;
  border: none;
}

.button {
  background-color: var(--secondary);
  color: var(--button-color);
  border-radius: 2px;
  font-size: 0.9rem;
  line-height: 0px;
  text-align: center;
  padding: 20px 16px;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  min-width: 124px;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  filter: brightness(90%);
}

.button--secondary {
  background-color: var(--button-color);
  color: var(--primary);
}

.button--secondary:hover {
  filter: brightness(120%);
}

.button--secondary:active {
  filter: brightness(140%);
}

input[type="text"],
input[type="number"],
input[type="search"],
select {
  height: 30px;
  padding: 0 6px;
  border-radius: 3px;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

select {
  height: 32px;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-top: 16px;
  }

  td > .button {
    min-width: fit-content;
    font-size: 0.8rem;
  }
}
