<dialog data-turbo="false" id='modal'>
	<div id='modal-content' class="modal">
		<a id="modal-export" href="#" class="modal__pdf">
			<span><img src="{{ asset('icons/teenyicons--pdf-solid.svg') }}" alt="pdf icon"></span>
			exporter le détail
		</a>
		<h2>Détail du matériel</h2>
		<div class="modal__field">
			<p>nom :</p>
			<p id="modal-name">name</p>
		</div>
		<div class="modal__field">
			<p>quantité :</p>
			<p id="modal-quantity"></p>
		</div>
		<div class="modal__field">
			<p>crée le :</p>
			<p id="modal-createdAt"></p>
		</div>
		<div class="modal__field">
			<p>prix HT :</p>
			<p id="modal-ht"></p>
		</div>
		<div class="modal__field">
			<p>prix TTC :</p>
			<p id="modal-ttc"></p>
		</div>
		<div class="modal__field">
			<p>TVA :</p>
			<p id="modal-tva"></p>
		</div>
		<div class="modal__buttons">
			<a id="modal-edit" class="button">modifier</a>
			<button id="modal-close" class="button button--secondary">fermer</button>
		</div>
	</div>
</dialog>
